extends layout

block content
	h1= title
	form(method="POST", action="/productSave")
		.form-group
			input.form-control(name="ProductCode" placeholder="Product Code")
		.form-group
			input.form-control(name="ProductName" placeholder="Product Name")
		.form-group
			input.form-control(name="Price" placeholder="Price")
		.form-group
			button.btn.btn-primary(type="submit") Thêm mới
